/images/*
.sm_creds
/overcloud-env.json
/overcloud_main.yaml
/overcloudrc
/stackrc
/tempest-deployer-input.conf
/tripleo-overcloud-passwords
/undercloud-passwords.conf
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.cinderclient/
/.gitconfig
/.instack/
/.lesshst
/.novaclient/
/.ssh/
KrynnCA.pem
KrynnCA.crt
KrynnCA.key
privkey-oc.pem
privkey-uc.pem
