heat_template_version: 2016-04-08

description: >
  Add bond0 to br-int bridge

parameters:
  servers:
    type: json
  ConfigDebug:
    default: false
    description: Enable puppet debugging
    type: boolean

resources:
  OVSExtraPostConfig:
    type: OS::Heat::SoftwareConfig
    properties:
      group: script
      config: {get_file: scripts/ovs_bond0_add.sh}

  OVSExtraPostDeployment:
    type: OS::Heat::SoftwareDeployments
    properties:
      config: {get_resource: OVSExtraPostConfig}
      servers: {get_param: servers}
      actions: ['CREATE','UPDATE']
